<div class="modal fade" id="modal-<%= training.id %>" tabindex="-1" role="dialog" aria-labelledby="UpdateTrainingLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center green" id="UpdateTraininglLabel">Préciser un lieu de départ</h2>
        <p>Veuillez renseigner les champs relatifs au lieu de l'entrainement</p>
      </div>
      <div class="modal-body">
        <%= render "form", training: training%>
      </div>
    </div>
  </div>
</div>
