/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700|Roboto+Condensed:400,300,700");
$base-font: "Roboto", "Helvetica", "sans-serif";
$header-font: "Roboto Condensed", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 15px;
$base-height: 1.4;
$header-weight: 700;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #00c200;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #5E9516;
$black: #333333;
$gray: #EEEEEE;
