<h1>Bonjour <%= @user.first_name %>,</h1>

<p>
Je suis très heureux de vous accueillir dans la communauté Chaud Patate. Vous pouvez dès à présent utiliser votre ticket offert pour essayer votre première séance.
</p>

<p>A très bientôt !</p>

<p>Paul de Chaud Patate</p>
