.paragraph-show-city {
	padding: 0px 150px;
}
.coach-title {
	margin: 30px 0 16px 0;
}

.city-content {
  padding: 50px 15px 15px 15px;
  margin-bottom: 60px;
  background-color: #fff;
}

.trainings {
  ul {
    padding: 0;
    list-style-type: none;
    width: 100%;
    padding: 0 40px 20px;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #dedede;
      padding: 10px 0;
      &:first-child {
        border-top: 1px solid #dedede;
      }
    }
  }
}
