<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="listing bookings text-center">
        <h2>Vos entraînements à venir</h2>
        <% if @bookings.empty? %>
          <p>Vous n'êtes inscrit à aucun entraînement.</p>
          <% if @favorite_city %>
            <%= link_to "S'inscrire à un entrainement", city_path(@favorite_city), class: "btn-success btn btn-lg spaced" %>
          <% end %>
        <% else %>
          <% @bookings.each do |booking| %>
            <%= render 'bookings/show', booking: booking %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
