<div class="footer">
	<div>
		<h4>Rejoignez-nous !</h4>
	</div>
	<div class="footer-content">
	  <a href="mailto:contact@chaudpatate.org"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
	  <a href="https://www.facebook.com/chaudpatateparis/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
	  <a href="https://twitter.com/ChaudPatate75" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
  </div>
</div>