<div class="footer">
	<div class="container">
		<div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="row">
    			<div class="col-xs-12 col-md-4">
    				<h4>Chaud Patate</h4>
    		    <p>Chaud Patate est le rendez-vous sportif des startupers et des entrepreneurs français</p>
    		    <p>&copy; 2016 Chaud Patate 2016</p>
    			</div>
    			<div class="col-xs-12 col-md-4">
    				<h4>En savoir plus :</h4>
            <ul>
              <li><%= link_to "Conditions de service", "/pages/service" %></li>
              <li><%= link_to "Politique de confidentialité", "/pages/privacy" %></li>
            </ul>
    			</div>
    			<div class="col-xs-12 col-sm-4">
    				<h4>Rejoignez-nous !</h4>
    			  <a href="mailto:contact@chaudpatate.org"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
    			  <a href="https://www.facebook.com/chaudpatateparis/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
    			  <a href="https://twitter.com/ChaudPatate75" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    			</div>
        </div>
      </div>
		</div>
	</div>
</div>
