<div class="footer text-center little_padding">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4 little_padding">
				<h6>Chaud Patate</h6>
		    <p>Chaud Patate est le RDV sportif des startupers et des entrepreneurs parisiens</p>
		    <p>&copy; 2016 Chaud Patate 2016</p>
			</div>
			<div class="col-xs-12 col-md-4 little_padding">
				<h6>En savoir plus :</h6>
				<%= link_to "Conditions de service", "/pages/service" %>
			</div>
			<div class="col-xs-12 col-sm-4 little_padding">
				<h6>Rejoignez-nous !</h6>
				<div class="footer-content">
				  <a href="mailto:contact@chaudpatate.org"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
				  <a href="https://www.facebook.com/chaudpatateparis/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
				  <a href="https://twitter.com/ChaudPatate75" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
			  </div>
			</div>
		</div>
	</div>
</div>