<h1>Bonjour <%= @member.first_name %>,</h1>

<p>
La séance Chaud Patate du <%= l(@training.date, format: '%A %d %B, à %Hh%M') %> vient d'être annulé. Vous pouvez dès à présent utiliser votre ticket offert pour essayer votre première séance.
</p>

<p>A très bientôt !</p>

<p>Paul de Chaud Patate</p>
