<% content_for(:title) do %>
  Chaudpatate, le rendez-vous sportif des startupers
<% end %>

<% content_for(:description) do %>
  Chaud Patate te permet de faire du sport tout en rencontrant d'autres startupers !
<% end %>

<div class="banner">
  <div class="banner-content">
    <h1>Chaudpatate</h1>
    <h2>Le networking sportif</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="buttons">
      <a href="" class="btn btn-gray">Découvrir notre concept</a>
      <a href="" class="btn btn-green">Devenir membre</a>
    </div>
  </div>
  <div class="row">
    <h2 class="text-center">Villes</h2>
    <div class="cities">
		<% @cities.each do |city| %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      	<div class='text-deco-none'>
		  	<%= link_to city_path(city) do %>
					<div class="city-card" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url(<%= cl_image_path city.photo.path %>); background-size: cover; background-position: center">
					  <h3><%= city.name %></h3>
  				</div>
		    <% end %>
		    </div>
  		</div>
    <% end %>
  </div>
  </div>
</div>
