<div class="banner">
  <div class="banner-content">
    <h1>Chaud Patates</h1>
    <h3>Le networking sportif</h3>
  </div>
</div>
<div class="paragraph-home">
  <div class="container">
    <div class="row">
      <h2 class="text-center title-paragraph">Les séances dans votre ville</h2>
      <p class="text-center">(psstt, la première est gratuite)</p>
      <hr>
			<% @cities.each do |city| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        	<div class='text-deco-none'>
			  	<%= link_to city_path(city) do %>
						<div class="city-card" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= cl_image_path city.photo.path %>); background-size: cover; background-position: center">
						  <div>
					      <%= city.name %>
					    </div>
    				</div>
			    <% end %>
			    </div>
    		</div>
      <% end %>
    </div>
  </div>
</div>
