.footer {
  background-color: $gray;
  letter-spacing: 2px;
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
}

.footer-content {
  display: flex;
  justify-content: space-around;
  a {
  	color: $black;
  	&:hover {
  		color: white
  	}
  }
}
