.banner {
  background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%),
                    image-url('background_2.jpg');
  background-size: cover;
  background-position: 50% 59%;
  color: $black;
  height: calc(82vh - 60px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.04),0 1px 0 0 rgba(0,0,0,0.02);
  h1, h2 {
    text-transform: uppercase;
    color: white;
    // box-shadow: 0px -30px $green inset;
    // text-shadow: none;
  }
  h1 {
    font-size: 68px;
    font-weight: 700;
    margin-bottom: 0;
  }
  h2 {
    font-size: 34px;
    font-weight: 100;
    margin-top: 0;
    color: rgba(250, 250, 250, 0.7)
  }
  h3 {
    color: white;
  }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 0;
    }
    h2 {
      font-size: 28px;
      font-weight: 100;
      margin-top: 0;
      color: rgba(250, 250, 250, 0.7)
    }
  }
}

.banner-city {
  background-size: cover;
  color: $black;
  height: 50vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.04),0 1px 0 0 rgba(0,0,0,0.02);
  h2 {
    display: inline-block;
    margin: 10px 0 0 0;
    font-size: 80px;
    color: white;
    text-shadow: none;
  }
  h4 {
    color: white;
    font-size: 30px;
  }
  h5 {
    color: $black;
    font-size: 20px;
  }
  @media screen and (max-width: 640px) {
    h2 {
    display: inline-block;
    margin: 10px 0 0 0;
    font-size: 64px;
    color: white;
    text-shadow: none;
  }
    h4 {
    letter-spacing: 4px;
    margin: 2vh;
    color: white;
    font-size: 24px;
    font-style: italic;
    }
  }
}
.banner-cta {
  position: relative;
  top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  font-size: 16px;
  font-weight: bold;
  height: 60px;

}
.banner-cta > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
}
