.banner {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%),
                    image-url('background.jpg');
  background-size: cover;
  color: $black;
  height: calc(80vh - 60px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.04),0 1px 0 0 rgba(0,0,0,0.02);
  h1 {
    display: inline-block;
    font-size: 100px;
    color: white;
    box-shadow: 0px -30px $green inset;
    text-shadow: none;
  }
  h3 {
    letter-spacing: 4px;
    color: white;
    font-size: 45px;
    margin-top: 3vh;
    font-weight:lighter;
    font-style:italic;
  }
}
.banner-content {
  width: 80vw;
}

.banner-small {
  background-size: cover;
  color: $black;
  height: 35vh;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.04),0 1px 0 0 rgba(0,0,0,0.02);
  h2 {
    display: inline-block;
    margin: 10px 0 0 0;
    font-size: 80px;
    box-shadow: -0px -10px $green inset;
    color: white;
    text-shadow: none;
  }
  h4 {
    letter-spacing: 4px;
    margin: 2vh;
    color: white;
    font-size: 30px;
    font-style: italic;
  }
  h5 {
    letter-spacing: 4px;
    margin: 2vh;
    color: $black;
    font-size: 20px;
    font-style: italic;
  }
}
.banner-content-small {
  width: 80vw;
}