.city-card {
  display: block;
  height: 220px;
  background-size: cover;
  margin-bottom: 30px;
  color: white;
  text-align: center;
  line-height: 220px;
  font-size: 60px;
  text-transform: capitalize;
  border-radius: 3px;
  &:hover{
    opacity: 0.8;
  }
}

.text-deco-none a:hover { 
    text-decoration:none; 
}