.wrapper-gray {
  background-color: $gray;
  min-height: calc(100vh - 60px);
}

.form-card {
  background-color: white;
  padding: 20px 40px 40px;
  box-shadow: 2px 2px #CCCCCC;
  margin-top: 30px;;
  margin-bottom:30px
}

.form-card h2 {
  color: $green;
  margin-top:10px;
}
.form-control {
  color: $black;
}

.form-card label {
  font-weight:normal;
  color: $black;
  font-size:14px;
  letter-spacing: 1px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.buttons-form {
  display: flex;
  justify-content: space-between;
}