.listing{
  margin: 20px 0 30px 0;
  background-color: white;
  // padding: 30px 60px 45px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  // margin-top: 30px;
  // margin-bottom: 30px;
  color: #8D8D8D;
  // font-size: 15px;
  border-radius: 4px;

  form {
    input.form-control {
      width: auto;
    }
    .form-control-label {
      line-height: 33px;
    }
    p {
      margin: 10px 0;
      padding: 0;
    }
  }
  h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }
  h3 {
    margin: 0;
    padding: 15px 20px;
    border: 1px solid #dedede;
    border-bottom: 0;
    background-color: #F0F0F0;
    font-size: 16px;
    text-transform: uppercase;
  }
  h4 {
    margin: 0;
    padding: 15px 20px;
    border: 1px solid #dedede;
    border-bottom: 0;
    background-color: #F9F9F9;
    font-size: 15px;
  }
  #edit_user {
    padding: 15px 20px;
    border: 1px solid #dedede;
    background: white;
  }
}

.trainings {
  .training {
    p{
      margin: 0;
    }
  }
  .location {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
  }
  .location-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
  }
}

.members-listing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .member {
    margin: 0 15px 15px 15px;
    text-align: center;
    p {
      margin: 0;
    }
  }
}
