<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé à changer votre mot de passe. Vous pouvez le faire grâce au lien ci-dessous</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Merci d'ignorer cet email si vous n'avez fait aucune demande</p>
